@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply h-1 w-1;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-800 rounded-lg;
}
::-webkit-scrollbar-thumb {
  /* @apply bg-gradient-to-b from-pink-900/0 via-pink-600 to-pink-900/0 rounded-lg; */
  @apply bg-zinc-300 rounded-lg;
}

body {
  @apply bg-zinc-200 text-zinc-600 dark:bg-zinc-900 dark:text-zinc-300; 
  /* @apply bg-zinc-900 text-zinc-300; */
}

.text-primary {
  /* @apply text-pink-500; */
  @apply text-yellow-200;
}

.backdrop-shadow-custom {
  filter: drop-shadow(0rem 0rem 5rem #fddf4735);
}

/* .animate-custom-1 {
  animation: animate-custom-1 2s infinite alternate forwards;
}

@keyframes animate-custom-1 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(5deg) scale(0.9);
  }
}

.animate-custom-2 {
  animation: animate-custom-2 2s 0.5s infinite alternate forwards;
}

@keyframes animate-custom-2 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(-5deg) scale(0.9);
  }
}

.animate-custom-3 {
  animation: animate-custom-3 2s infinite alternate forwards;
}

@keyframes animate-custom-3 {
  0% {
    transform: translateY(0rem) rotate(0deg) scale(1);
  }
  100% {
    transform: translateY(1rem) rotate(90deg) scale(1.5);
  }
}

.animate-custom-4 {
  animation: animate-custom-4 2s 0.5s infinite alternate forwards;
}

@keyframes animate-custom-4 {
  0% {
    transform: translateY(0rem) rotate(0deg) scale(1);
  }
  100% {
    transform: translateY(1rem) rotate(90deg) scale(1.5);
  }
}

.animate-custom-5 {
  animation: animate-custom-5 2s 1s infinite alternate forwards;
}

@keyframes animate-custom-5 {
  0% {
    transform: translateY(0rem) rotate(0deg) scale(1);
  }
  100% {
    transform: translateY(1rem) rotate(90deg) scale(1.5);
  }
} */

.color-pink-400 {
  color: #f472b6;
}

.color-pink-500 {
  color: #ec4899;
}

.color-pink-700 {
  color: #be185d;
}

.color-pink-900 {
  color: #831843;
}

.color-gold-100 {
  color: #fef9c3;
}

.color-gold-200 {
  color: #fef08a;
}

.color-gold-300 {
  color: #fde047;
}

.button-gradient-custom{
  @apply inline-block bg-gradient-to-r from-purple-800 to-pink-800 hover:from-purple-900 hover:to-pink-900 ring-1 ring-transparent hover:scale-[1.025] focus:ring-zinc-400 text-white font-medium text-sm text-center rounded shadow-xl shadow-pink-700/50 transition duration-200 px-8 py-2;
}

.button-gradient-green{
  @apply inline-block text-center bg-green-700 hover:bg-green-800 text-white rounded shadow-xl shadow-green-700/50 transition duration-200 hover:scale-[1.025] px-8 py-2;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
