@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply h-1 w-1;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-800 rounded-lg;
}
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-pink-900/0 via-pink-600 to-pink-900/0 rounded-lg;
}

body {
  @apply bg-zinc-200 text-zinc-600 dark:bg-zinc-900 dark:text-zinc-300; 
  /* @apply bg-zinc-900 text-zinc-300; */
}

.text-primary {
  @apply text-pink-500;
}

.animate-custom-1 {
  animation: animate-custom-1 2s infinite alternate forwards;
}

@keyframes animate-custom-1 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(5deg) scale(0.9);
  }
}

.animate-custom-2 {
  animation: animate-custom-2 2s 0.5s infinite alternate forwards;
}

@keyframes animate-custom-2 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(-5deg) scale(0.9);
  }
}

.animate-custom-3 {
  animation: animate-custom-3 2s infinite alternate forwards;
}

@keyframes animate-custom-3 {
  0% {
    transform: translateY(0rem) rotate(0deg) scale(1);
  }
  100% {
    transform: translateY(1rem) rotate(90deg) scale(1.5);
  }
}

.animate-custom-4 {
  animation: animate-custom-4 2s 0.5s infinite alternate forwards;
}

@keyframes animate-custom-4 {
  0% {
    transform: translateY(0rem) rotate(0deg) scale(1);
  }
  100% {
    transform: translateY(1rem) rotate(90deg) scale(1.5);
  }
}

.animate-custom-5 {
  animation: animate-custom-5 2s 1s infinite alternate forwards;
}

@keyframes animate-custom-5 {
  0% {
    transform: translateY(0rem) rotate(0deg) scale(1);
  }
  100% {
    transform: translateY(1rem) rotate(90deg) scale(1.5);
  }
}

.color-pink-400 {
  color: #f472b6;
}

.color-pink-500 {
  color: #ec4899;
}

.color-pink-700 {
  color: #be185d;
}

.color-pink-900 {
  color: #831843;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
